/**
 * VitePress theme variables
 * Notion-inspired color scheme
 */

:root {
  /* Light mode colors */
  --vp-c-bg: #ffffff;
  --vp-c-bg-alt: #f7f7f5;
  --vp-c-bg-soft: #fafafa;
  --vp-c-text: #37352f;
  --vp-c-text-1: #37352f;
  --vp-c-text-2: #787774;
  --vp-c-text-3: #9b9a97;
  
  /* Borders */
  --vp-c-border: #e9e9e7;
  --vp-c-divider: #e9e9e7;
  
  /* Brand colors */
  --vp-c-brand: #2383e2;
  --vp-c-brand-light: #4a9eff;
  --vp-c-brand-lighter: #6eb3ff;
  --vp-c-brand-dark: #1a6bc7;
  --vp-c-brand-darker: #1555a0;
  
  /* Code blocks */
  --vp-c-bg-code: #f7f7f5;
  --vp-code-block-bg: #f7f7f5;
  
  /* Spacing */
  --vp-nav-height: 64px;
  --vp-sidebar-width: 272px;
}

.dark {
  /* Dark mode colors */
  --vp-c-bg: #1a1a1a;
  --vp-c-bg-alt: #2d2d2d;
  --vp-c-bg-soft: #252525;
  --vp-c-text: #e9e9e7;
  --vp-c-text-1: #e9e9e7;
  --vp-c-text-2: #b3b3b0;
  --vp-c-text-3: #9b9a97;
  
  /* Borders */
  --vp-c-border: #3d3d3d;
  --vp-c-divider: #3d3d3d;
  
  /* Brand colors */
  --vp-c-brand: #4a9eff;
  --vp-c-brand-light: #6eb3ff;
  --vp-c-brand-lighter: #8cc5ff;
  --vp-c-brand-dark: #2383e2;
  --vp-c-brand-darker: #1a6bc7;
  
  /* Code blocks */
  --vp-c-bg-code: #2d2d2d;
  --vp-code-block-bg: #2d2d2d;
}

